.titulo1{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Noto Nastaliq Urdu', serif;
}

.titulo2{
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
}