.titulo1{
    background-color: rgb(91, 216, 149);
    color: rgb(216, 87, 87);
    display: flex;
    justify-content: center;
    font-family: 'Noto Nastaliq Urdu', serif;
}

.titulo2{
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
}

.titulo3{
    font-family: 'Noto Sans KR', sans-serif;
}

.body1{
    background-image: url(https://media.tenor.com/4Mrnad75c6gAAAAM/seal-dj.gif);
    background-repeat: no-repeat;
    background-position: right;
}

.contenedor1{
    display: flex;
    justify-content: center;
}

.boton1{
    color: white;
    background-color: brown;
}

.table{
    border-collapse: collapse;
}

.table th{
    background-color: rgb(6, 165, 6);
    color: white;
}

.table td{
    border: 1px solid;
    text-align: center;
}

.table td:hover{
    background-color: brown;
    color: azure;
}

.table tr{
    font-family: 'Noto Sans KR', sans-serif;
}

.boton2{
    color: white;
    background-color: rgb(237, 43, 43);
}
